.recent-watch,
.recent-watch * {
    box-sizing: border-box;
}

.recent-watch {
    background: #003d80;
    border-radius: 50px;
    padding: 56px 90px 56px 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 1184px;
    position: relative;
}

.recent-watch .header {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 700px;
    position: relative;
}

.recent-watch .title {
    color: #ffffff;
    text-align: left;
    /*font-family: "Inter-Bold", sans-serif;*/
    font-size: 48px;
    font-weight: 700;
    position: relative;
}

.recent-watch .description {
    color: #ffffff;
    text-align: center;
    /*font-family: "Inter-Medium", sans-serif;*/
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-watch .tweet-button {
    display: inline-block;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

}

.recent-watch .tweet-button:hover {
    background: #007bff;
}

.recent-watch .post-button-text {
    color: #ffffff;
    text-align: center;
    /*font-family: "PlusJakartaSans-Medium", sans-serif;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-watch .tweet-examples {
    padding: 24px 0 24px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.recent-watch .tweet-columns {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

/*.recent-watch .tweet-columns:hover {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*    transform: translateY(-4px);*/
/*    transition: box-shadow 0.3s ease, transform 0.3s ease;*/
/*}*/


.recent-watch .tweet-card {
    background: #ffffff;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 346px;
    position: relative;
}

.recent-watch .tweet-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.recent-watch .poster-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.recent-watch .profile-picture {
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.recent-watch .image-test {
    border-radius: 48px;
    flex: 1;
    position: relative;
    object-fit: cover;
}

.recent-watch .poster-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.recent-watch .poster-name {
    color: #222222;
    text-align: left;
    /*font-family: "Inter-SemiBold", sans-serif;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recent-watch .username {
    color: #808a99;
    text-align: left;
    /*font-family: "Inter-Medium", sans-serif;*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recent-watch .bluesky-logo {
    width: auto;
    height: 22px;
}

.recent-watch .tweet-caption {
    text-align: left;
    /*font-family: "Inter-Medium", sans-serif;*/
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}