:root {
  --max-width: 1200px;
}

body {
    margin: 0;
    padding-top: 80px; /* Added padding for fixed navbar */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.app-container {
    max-width: 1200px; /* Or your preferred max width */
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add some padding on the sides */
}

/* Add content wrapper class */
.content-wrapper {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px; 
  padding-right: 40px;
  width: 100%; /* Ensure padding is respected */
}